node_modules
/generated/prisma
# =========================
# General
# =========================
node_modules/
dist/
build/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# =========================
# Backend (Express / Node)
# =========================
# Kompilowane pliki TypeScript
*.tsbuildinfo
/dist/
/build/
/out/
/coverage/
/tmp/
/logs/
debug.log
*.sqlite
*.db
.prisma/
prisma/dev.db-journal

# PM2, nodemon, ts-node cache
.pids
nodemon-debug.log
*.pid
*.seed

# =========================
# Frontend (Vue.js)
# =========================
client/node_modules/
client/dist/
client/.env
client/.env.local
client/.env.*.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# =========================
# IDE / OS specific
# =========================
.vscode/
.idea/
*.iml
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*~
*.sass-cache
*.cache/
.cache/
.eslintcache

# =========================
# Misc
# =========================
# lokalne pliki testowe
test-results/
coverage/
reports/
uploads/

#Migrations
*.sql

